table,
th,
td {
  border: 1px solid black;
  font-family: arial, sans-serif;
}

h1 {
  text-align: center;
  font-family: arial, sans-serif;
}

body {
  height: 100%;
}

.btn {
  vertical-align: middle;
  background-color: #3e4a82;
  border: none;
  color: rgb(62, 255, 255);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {
  opacity: 1;
}

.create-button {
  text-align: center;
  margin: auto;
  display: block;
  font-family: arial, sans-serif;
}

address {
  margin-bottom: 30rem;
  margin-top: 2rem;
  text-align: center;
}
